# Import the libraries

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.cluster import KMeans
import warnings
warnings.filterwarnings('ignore')

# Data Overview

In [14]:
df = pd.read_csv('data/data.csv')
df.head()

,customer_id,birth_year,education_level,marital_status,annual_income,num_children,num_teenagers,signup_date,days_since_last_purchase,has_recent_complaint,...,num_web_purchases,num_catalog_purchases,num_store_purchases,web_visits_last_month,accepted_campaign_1,accepted_campaign_2,accepted_campaign_3,accepted_campaign_4,accepted_campaign_5,accepted_last_campaign
0,5524,1957,Graduation,Single,58138.0,0,0.0,4/9/2012,58,0,...,8,10,4,7,0,0,0,0,0,1
1,2174,1954,Graduation,Single,46344.0,1,1.0,8/3/2014,38,0,...,1,1,2,5,0,0,0,0,0,0
2,4141,1965,Graduation,Together,71613.0,0,0.0,21-08-2013,26,0,...,8,2,10,4,0,0,0,0,0,0
3,6182,1984,Graduation,Together,26646.0,1,0.0,10/2/2014,26,0,...,2,0,4,6,0,0,0,0,0,0
4,5324,1981,PhD,Married,58293.0,1,0.0,19-01-2014,94,0,...,5,3,6,5,0,0,0,0,0,0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               2240 non-null   int64
 1   birth_year                2240 non-null   int64
 2   education_level           2199 non-null   object
 3   marital_status            2240 non-null   object
 4   annual_income             2173 non-null   float64
 5   num_children              2240 non-null   int64
 6   num_teenagers             2196 non-null   float64
 7   signup_date               2240 non-null   object
 8   days_since_last_purchase  2240 non-null   int64
 9   has_recent_complaint      2240 non-null   int64
 10  spend_wine                2240 non-null   int64
 11  spend_fruits              2240 non-null   int64
 12  spend_meat                2240 non-null   int64
 13  spend_fish                2240 non-null   int64
 14  spend_sweets              2240 non-null   int64
 15  spend_gold                2240 non-null   int64
 16  num_discount_purchases    2240 non-null   int64
 17  num_web_purchases         2240 non-null   int64
 18  num_catalog_purchases     2240 non-null   int64
 19  num_store_purchases       2240 non-null   int64
 20  web_visits_last_month     2240 non-null   int64
 21  accepted_campaign_1       2240 non-null   int64
 22  accepted_campaign_2       2240 non-null   int64
 23  accepted_campaign_3       2240 non-null   int64
 24  accepted_campaign_4       2240 non-null   int64
 25  accepted_campaign_5       2240 non-null   int64
 26  accepted_last_campaign    2240 non-null   int64
dtypes: float64(2), int64(22), object(3)
memory usage: 472.6+ KB

In [16]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
customer_id,2240.0,5592.159821,3246.662198,0.0,2828.25,5458.5,8427.75,11191.0
birth_year,2240.0,1968.805804,11.984069,1893.0,1959.00,1970.0,1977.00,1996.0
annual_income,2173.0,52266.031293,25274.007394,1730.0,35196.00,51411.0,68487.00,666666.0
num_children,2240.0,0.444196,0.538398,0.0,0.00,0.0,1.00,2.0
num_teenagers,2196.0,0.506375,0.543720,0.0,0.00,0.0,1.00,2.0
days_since_last_purchase,2240.0,49.109375,28.962453,0.0,24.00,49.0,74.00,99.0
has_recent_complaint,2240.0,0.009375,0.096391,0.0,0.00,0.0,0.00,1.0
spend_wine,2240.0,303.935714,336.597393,0.0,23.75,173.5,504.25,1493.0
spend_fruits,2240.0,26.302232,39.773434,0.0,1.00,8.0,33.00,199.0
spend_meat,2240.0,166.950000,225.715373,0.0,16.00,67.0,232.00,1725.0
spend_fish,2240.0,37.525446,54.628979,0.0,3.00,12.0,50.00,259.0
spend_sweets,2240.0,27.062946,41.280498,0.0,1.00,8.0,33.00,263.0
spend_gold,2240.0,44.021875,52.167439,0.0,9.00,24.0,56.00,362.0
num_discount_purchases,2240.0,2.325000,1.932238,0.0,1.00,2.0,3.00,15.0
num_web_purchases,2240.0,4.084821,2.778714,0.0,2.00,4.0,6.00,27.0
num_catalog_purchases,2240.0,2.662054,2.923101,0.0,0.00,2.0,4.00,28.0
num_store_purchases,2240.0,5.790179,3.250958,0.0,3.00,5.0,8.00,13.0
web_visits_last_month,2240.0,5.316518,2.426645,0.0,3.00,6.0,7.00,20.0
accepted_campaign_1,2240.0,0.064286,0.245316,0.0,0.00,0.0,0.00,1.0
accepted_campaign_2,2240.0,0.013393,0.114976,0.0,0.00,0.0,0.00,1.0
accepted_campaign_3,2240.0,0.072768,0.259813,0.0,0.00,0.0,0.00,1.0
accepted_campaign_4,2240.0,0.074554,0.262728,0.0,0.00,0.0,0.00,1.0
accepted_campaign_5,2240.0,0.072768,0.259813,0.0,0.00,0.0,0.00,1.0
accepted_last_campaign,2240.0,0.149107,0.356274,0.0,0.00,0.0,0.00,1.0

In [20]:
counts_all = {col: df[col].value_counts() for col in df.columns}
counts_all

{'customer_id': customer_id
 5524     1
 2174     1
 4141     1
 6182     1
 5324     1
         ..
 10870    1
 4001     1
 7270     1
 8235     1
 9405     1
 Name: count, Length: 2240, dtype: int64,
 'birth_year': birth_year
 1976    89
 1971    87
 1975    83
 1972    79
 1978    77
 1970    77
 1965    74
 1973    74
 1969    71
 1974    69
 1956    55
 1979    53
 1958    53
 1977    52
 1952    52
 1959    51
 1968    51
 1966    50
 1954    50
 1955    49
 1960    49
 1963    45
 1982    45
 1967    44
 1962    44
 1957    43
 1951    43
 1983    42
 1986    42
 1964    42
 1981    39
 1980    39
 1984    38
 1961    36
 1953    35
 1985    32
 1949    30
 1989    30
 1950    29
 1988    29
 1987    27
 1948    21
 1990    18
 1946    16
 1947    16
 1991    15
 1992    13
 1945     8
 1943     7
 1944     7
 1995     5
 1993     5
 1994     3
 1996     2
 1900     1
 1893     1
 1899     1
 1941     1
 1940     1
 Name: count, dtype: int64,
 'education_level': education_level
 Graduation    1105
 PhD            474
 Master         365
 2n Cycle       201
 Basic           54
 Name: count, dtype: int64,
 'marital_status': marital_status
 Married     864
 Together    580
 Single      480
 Divorced    232
 Widow        77
 Alone         3
 Absurd        2
 YOLO          2
 Name: count, dtype: int64,
 'annual_income': annual_income
 7500.0     12
 35860.0     4
 80134.0     3
 47025.0     3
 67445.0     3
            ..
 41769.0     1
 88325.0     1
 38054.0     1
 80617.0     1
 76995.0     1
 Name: count, Length: 1938, dtype: int64,
 'num_children': num_children
 0    1293
 1     899
 2      48
 Name: count, dtype: int64,
 'num_teenagers': num_teenagers
 0.0    1134
 1.0    1012
 2.0      50
 Name: count, dtype: int64,
 'signup_date': signup_date
 31-08-2012    12
 12/5/2014     11
 14-02-2013    11
 12/9/2012     11
 22-05-2014    10
               ..
 1/11/2013      1
 10/8/2013      1
 11/10/2012     1
 20-12-2012     1
 9/1/2014       1
 Name: count, Length: 663, dtype: int64,
 'days_since_last_purchase': days_since_last_purchase
 56    37
 54    32
 30    32
 46    31
 92    30
       ..
 41    15
 59    14
 22    13
 7     12
 44    11
 Name: count, Length: 100, dtype: int64,
 'has_recent_complaint': has_recent_complaint
 0    2219
 1      21
 Name: count, dtype: int64,
 'spend_wine': spend_wine
 2       42
 5       40
 1       37
 6       37
 4       33
         ..
 934      1
 1115     1
 1486     1
 835      1
 1245     1
 Name: count, Length: 776, dtype: int64,
 'spend_fruits': spend_fruits
 0      400
 1      162
 2      120
 3      116
 4      104
       ...
 131      1
 140      1
 149      1
 143      1
 154      1
 Name: count, Length: 158, dtype: int64,
 'spend_meat': spend_meat
 7      53
 5      50
 11     49
 8      46
 6      43
        ..
 883     1
 450     1
 498     1
 164     1
 182     1
 Name: count, Length: 558, dtype: int64,
 'spend_fish': spend_fish
 0      384
 2      156
 3      130
 4      108
 6       82
       ...
 181      1
 81       1
 128      1
 114      1
 229      1
 Name: count, Length: 182, dtype: int64,
 'spend_sweets': spend_sweets
 0      419
 1      161
 2      128
 3      101
 4       82
       ...
 262      1
 179      1
 100      1
 79       1
 111      1
 Name: count, Length: 177, dtype: int64,
 'spend_gold': spend_gold
 1      73
 4      70
 3      69
 12     63
 5      63
        ..
 245     1
 229     1
 248     1
 103     1
 247     1
 Name: count, Length: 213, dtype: int64,
 'num_discount_purchases': num_discount_purchases
 1     970
 2     497
 3     297
 4     189
 5      94
 6      61
 0      46
 7      40
 8      14
 9       8
 15      7
 11      5
 10      5
 12      4
 13      3
 Name: count, dtype: int64,
 'num_web_purchases': num_web_purchases
 2     373
 1     354
 3     336
 4     280
 5     220
 6     205
 7     155
 8     102
 9      75
 0      49
 11     44
 10     43
 27      2
 23      1
 25      1
 Name: count, dtype: int64,
 'num_catalog_purchases': num_catalog_purchases
 0     586
 1     497
 2     276
 3     184
 4     182
 5     140
 6     128
 7      79
 8      55
 10     48
 9      42
 11     19
 28      3
 22      1
 Name: count, dtype: int64,
 'num_store_purchases': num_store_purchases
 3     490
 4     323
 2     223
 5     212
 6     178
 8     149
 7     143
 10    125
 9     106
 12    105
 13     83
 11     81
 0      15
 1       7
 Name: count, dtype: int64,
 'web_visits_last_month': web_visits_last_month
 7     393
 8     342
 6     340
 5     281
 4     218
 3     205
 2     202
 1     153
 9      83
 0      11
 20      3
 10      3
 14      2
 19      2
 17      1
 13      1
 Name: count, dtype: int64,
 'accepted_campaign_1': accepted_campaign_1
 0    2096
 1     144
 Name: count, dtype: int64,
 'accepted_campaign_2': accepted_campaign_2
 0    2210
 1      30
 Name: count, dtype: int64,
 'accepted_campaign_3': accepted_campaign_3
 0    2077
 1     163
 Name: count, dtype: int64,
 'accepted_campaign_4': accepted_campaign_4
 0    2073
 1     167
 Name: count, dtype: int64,
 'accepted_campaign_5': accepted_campaign_5
 0    2077
 1     163
 Name: count, dtype: int64,
 'accepted_last_campaign': accepted_last_campaign
 0    1906
 1     334
 Name: count, dtype: int64}